{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2023 coactum GmbH
    @template pingo/pingo_view

    Template for the view.

    Example context (json):
    {
    }
}}

{{#js}}
{{/js}}
<div class="d-flex justify-content-center">
    <div class="pingo_sessioninfo w-25">
        <div><span class="font-weight-bold">{{#str}}remoteserver, mod_pingo{{/str}}:</span> {{remoteserver}} </div>
        {{#activesession}}
            <div class="bg-success text-white mb-3 mt-3 text-center">{{#str}}sessionactive, mod_pingo{{/str}}!</div>
            <div>
                <span class="font-weight-bold">{{#str}}sessionid, mod_pingo{{/str}}:</span> {{activesession.sessionid}}
                <br><span class="font-weight-bold">{{#str}}sessiontoken, mod_pingo{{/str}}:</span> {{activesession.sessiontoken}}
            </div>
            <div class="actionbuttons pt-3">
                <a class="btn btn-primary" href="view.php?id={{cmid}}&sessionlogout=1"> {{#str}}sessionlogout, mod_pingo{{/str}}</a>
            </div>

        {{/activesession}}
        {{^activesession}}
            <div class="bg-warning text-white mb-3 mt-3 text-center">{{#str}}nosession, mod_pingo{{/str}}</div>
        {{/activesession}}
    </div>
</div>